<!doctype html>
<title>{% block title %}{% endblock %} My Marketplace</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="../static/style.css">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">My Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if g.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
            </li>
          {% if g.user['admin'] %}
              <li class="nav-item">
                <a class="action nav-link" href="{{ url_for('store.create') }}">New Item</a>
              </li>
          {% endif %}
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
            </li>
        {% endif %}
      </ul>
    </div>
    {% if g.user %}
      <div class="navbar-collapse collapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('cart.checkout') }}">
                      <img class="cart-image" src="../static/cart.png">
                  </a>
              </li>
          </ul>
      </div>
    {% endif %}
</nav>
<section class="content">
  <header class="mt-10 ml-5">
  {% block header %}{% endblock %}
  </header>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
{% endfor %}
<div class="mt-5">
  {% block content %}{% endblock %}
</div>
</section>